#fab {
    width: 80px; /* Adjust the size as needed */
    height: 80px; /* Adjust the size as needed */
    border-radius: 50%; /* Make it a perfect circle */
    font-size: 30px; /* Adjust the font size for the "+" symbol */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.pre-box{
    width: 150px;
    height: 200px;
    border-width: 10px;
    border-radius: 10%;
    border-color: black;
    box-shadow: 0px 0px 10px var(--clr--gray--med);
    margin: 10px;
}

#allPreview{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 2em 0em;
}
